APP_NAME=SKYLEARN
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=skylearn
DB_USER=skylearn_user
DB_PASS=change_me

WHATSAPP_NUMBER=237600000000

# MeSomb : vérifier les noms exacts des identifiants dans la documentation MeSomb
MESOMB_APPLICATION_KEY=
MESOMB_ACCESS_KEY=
MESOMB_SECRET_KEY=
